<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>添加应用</title>
        {% include 'public_css.html' %}
    </head>
    <body>
        
        <h1>
            添加应用
        </h1>
        <hr>
        <form action="" method="post">
            
            <p>
                应用名称：
                <input type="text" name="title" class="form-control" value="{{ g.obj['title'] }}" required placeholder="请输入应用名称">
            </p>
            
            <p>
                应用描述：
                <input type="text" name="description" class="form-control" value="{{ g.obj['description'] }}" required required placeholder="请输入应用描述">
            </p>
            
            <p>
                用户：
                <select id="uid" name="uid" class="form-control">
                    {% for user in g.users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </p>  
            
            <p>
                应用语言：
                <select id="language" name="language" class="form-control">
                    <option>php</option>
                </select>
            </p>    
            
            <p>
                域名：
                <input type="text" name="host" placeholder="请输入域名" value="{{ g.obj['host'] }}" required class="form-control">
            </p>
            
            <p>
                git地址：
                <input type="text" name="gitUrl" placeholder="git地址" value="{{ g.obj['gitUrl'] }}" required class="form-control">
            </p>
            
            <p align="center">
                <input type="submit" value="{% if g.add %}添加应用{% else %}修改应用{% endif %}" class="btn btn-primary">
            </p>
            
        </form>
        
        {% include 'public_js.html' %}
        
        {% if not g.add %}
        <script>
            $("#language").val("{{ g.obj['language'] }}");
            $("#uid").val("{{ g.obj['uid'] }}");
        </script>
        {% endif %}
    </body>
</html>
