<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>应用管理</title>
        {% include 'public_css.html' %}
    </head>
    <body>
        
        <h1>应用管理</h1>
        <a href="addApp">添加应用</a>
        <hr>
        
        {% for obj in g.lists %}
        
        <div class="panel panel-default">
            <div class="panel-heading">{{ obj.title }}</div>
            <div class="panel-body">
                <p>应用描述：{{ obj.description }}</p>
                <p>应用语言：{{ obj.language }}</p>
                <p>应用用户：{{ obj.username }}</p>
                <p>应用git：{{ obj.gitUrl }}</p>
                <p>应用服务器：{{ obj.remoteServer }}</p>
                <p>应用域名：{{ obj.host }}</p>
                <p>
                    应用状态：
                    {% if obj.status == -1 %}
                        未发布
                    {% elif obj.status == 0  %}
                        未部署
                    {% elif obj.status == 1  %}
                        运行中
                    {% elif obj.status == 2  %}
                        部署中
                    {% elif obj.status == 3  %}
                        已经停止          
                    {% endif %}
                </p>
                <hr>
                <p>数据库地址：{{ obj.dbHost }}</p>
                <p>数据库名称：{{ obj.dbName }}</p>
                <p>数据库用户名：{{ obj.dbUsername }}</p>
                <p>数据库密码：{{ obj.dbPassword }}</p>
                <p>数据库端口：{{ obj.dbPort }}</p>
                <hr>
                <p>
                    <a href="javascript:option({{ obj.id }},'develop','发布');">发布应用</a>
                    <a href="javascript:option({{ obj.id }},'start','启动');">启动应用</a>
                    <a href="javascript:option({{ obj.id }},'stop','停止');">停止应用</a>
                    <a href="javascript:option({{ obj.id }},'reboot','重启');">重启应用</a>
                    <a href="editApp?id={{ obj.id }}">编辑应用</a>
                    <a href="javascript:deleteApp({{ obj.id }});">删除应用</a>
                </p>
            </div>
        </div>
        
        {% endfor %}
        
        
        {% include 'public_js.html' %}
        <script>
            function deleteApp(uid){
                if(confirm("你真的要删除应用？")){
                    location.href="deleteApp?id="+uid;
                }
            }
            
            function option(aid,optionType,message){
                $.ajax({
                    'type':'POST',
                    'url':'/admin/optionApp/'+optionType,
                    'data':{'aid':aid},
                    'success':function(data){
                        location.reload();
                    },
                    'error':function(t1,t2,t3){
                        alert(message+'失败，如果多次出现该问题请询问技术人员！');
                    }
                });
            }
            
        </script>
    </body>
</html>
