<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>添加用户</title>
        {% include 'public_css.html' %}
    </head>
    <body>
        
        <form action="" method="post">
            
            <p>
                用户名：
                <input type="text" name="username" class="form-control" placeholder="请输入用户名" required>
            </p>
            
            <p>
                密码：
                <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
            </p>
            
            <p>
                状态：
                <select class="form-control" name="status">
                    <option value="0">启用</option>
                    <option value="1">禁用</option>
                </select>
            </p>
            
            <p>
                真实名字：
                <input type="text" class="form-control" name="realname" placeholder="请输入真实名字" required>
            </p>
            
            <p>
                学院：
                <input type="text" class="form-control" name="college" placeholder="请输入学院" required>
            </p>
            
            <p>
                专业：
                <input type="text" class="form-control" name="specialty" placeholder="请输入专业" required>
            </p>
            
            <p align="center">
                <input type="submit" value="添加用户" class="btn btn-primary">
            </p>
            
        </form>    
        
        {% include 'public_js.html' %}
    </body>
</html>
