<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>用户管理</title>
        {% include 'public_css.html' %}
    </head>
    <body>
        
        <br>
        <p>
            <a href="/admin/userAdd">添加用户</a>
        </p>    
        <hr>
        
        {% for obj in g.lists %}
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">编辑信息</a>
                    <a href="javascript:alert('要删除等下一个版本');">删除用户</a>
                </div>
                <div class="panel-body">
                    <p>用户名：{{ obj.username }}</p>
                    <p>真实名字：{{ obj.realname }}</p>
                    <p>学院：{{ obj.college }}</p>
                    <p>专业：{{ obj.specialty }}</p>
                    <p>加入时间：{{ obj.joinTime }}</p>
                </div>
            </div>
            
        {% endfor %}
        
        {% include 'public_js.html' %}
    </body>
</html>
