{% extends "user_base.html" %}

{% block title %}应用管理{% endblock %}

{% block content %}
{% for obj in g.lists %}
        <div class="panel panel-default" id="{{ obj.id }}-panel">
            <div class="panel-heading">{{ obj.title }}</div>
            <div class="panel-body">
                <p><strong>应用描述：</strong>{{ obj.description }}</p>
                <p><strong>应用语言：</strong>{{ obj.language }}</p>
                <p><strong>应用git：</strong>{{ obj.gitUrl }}</p>
                <p><strong>应用域名：</strong>{{ obj.host }}</p>
                <p><strong>git回调api：</strong>http://{{ g.apiHost }}/api/git/{{ obj.apiKey }}/{{ obj.secretKey }}</p>
                <p>
                    <strong>应用状态：</strong>
                    {% if obj.status == -1 %}
                        未发布
                    {% elif obj.status == 0  %}
                        未部署
                    {% elif obj.status == 1  %}
                        运行中
                    {% elif obj.status == 2  %}
                        部署中
                    {% elif obj.status == 3  %}
                        已经停止 
                    {% elif obj.status == 5  %}
                        发布失败           
                    {% endif %}
                </p>
                {% if obj.language != "static" %}
                <hr>
                <p><strong>数据库地址：</strong>{{ obj.dbHost }}</p>
                <p><strong>数据库名称：</strong>{{ obj.dbName }}</p>
                <p><strong>数据库用户名：</strong>{{ obj.dbUsername }}</p>
                <p><strong>数据库密码：</strong>{{ obj.dbPassword }}</p>
                <p><strong>数据库端口：</strong>{{ obj.dbPort }}</p>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a href="javascript:option({{ obj.id }},'develop','发布');" class="btn btn-primary">发布应用</a>
                <a href="javascript:option({{ obj.id }},'start','启动');" class="btn btn-success">启动应用</a>
                <a href="javascript:option({{ obj.id }},'stop','停止');" class="btn btn-danger">停止应用</a>
                <a href="javascript:option({{ obj.id }},'reboot','重启');" class="btn btn-warning">重启应用</a>
            </div>
        </div>
{% endfor %}
{% endblock %}

{% block script %}
<script>
            function option(aid,optionType,message){
                $.ajax({
                    'type':'POST',
                    'url':'/user/optionApp/'+optionType,
                    'data':{'aid':aid},
                    'success':function(data){
                        location.reload();
                    },
                    'error':function(t1,t2,t3){
                        alert(message+'失败，如果多次出现该问题请询问技术人员！');
                    }
                });
            } 
</script>
{% endblock %}
