{% extends "user_base.html" %}

{% block title %}应用管理{% endblock %}

{% block content %}
{% for obj in g.lists %}
        <div class="panel panel-default app-panel" id="panel-{{ obj.id }}" data-status="{{ obj.status }}" data-appid="{{ obj.id }}">
            <div class="panel-heading app-panel-head" data-appid="{{ obj.id }}">{{ obj.title }}</div>
            <div class="panel-body app-panel-body" id="body-{{ obj.id }}">
                <p><strong>应用描述：</strong>{{ obj.description }}</p>
                <p><strong>应用语言：</strong>{{ obj.language }}</p>
                <p><strong>应用git：</strong>{{ obj.gitUrl }}</p>
                <p><strong>应用域名：</strong>{{ obj.host }}</p>
                <p><strong>git回调api：</strong>http://{{ g.apiHost }}/api/git/{{ obj.apiKey }}/{{ obj.secretKey }}</p>
                <p>
                    <strong>应用状态：</strong>
                    <span id="status-{{ obj.id }}">
                        {% if obj.status == -1 %}
                            未发布
                        {% elif obj.status == 0  %}
                            未部署
                        {% elif obj.status == 1  %}
                            运行中
                        {% elif obj.status == 2  %}
                            部署中
                        {% elif obj.status == 3  %}
                            已经停止 
                        {% elif obj.status == 5  %}
                            发布失败           
                        {% endif %}
                    </span>
                </p>
                {% if obj.language != "static" %}
                <hr>
                <p><strong>数据库地址：</strong>{{ obj.dbHost }}</p>
                <p><strong>数据库名称：</strong>{{ obj.dbName }}</p>
                <p><strong>数据库用户名：</strong>{{ obj.dbUsername }}</p>
                <p><strong>数据库密码：</strong>{{ obj.dbPassword }}</p>
                <p><strong>数据库端口：</strong>{{ obj.dbPort }}</p>
                {% endif %}
            </div>
            <div class="panel-footer app-panel-footer" id="footer-{{ obj.id }}">
                <a href="javascript:option({{ obj.id }},'develop','发布');" class="btn btn-primary">发布应用</a>
                <a href="javascript:option({{ obj.id }},'start','启动');" class="btn btn-success">启动应用</a>
                <a href="javascript:option({{ obj.id }},'stop','停止');" class="btn btn-danger">停止应用</a>
                <a href="javascript:option({{ obj.id }},'reboot','重启');" class="btn btn-warning">重启应用</a>
            </div>
        </div>
{% endfor %}
{% endblock %}

{% block script %}
<script>
            function option(aid,optionType,message){
                $.ajax({
                    'type':'POST',
                    'url':'/user/optionApp/'+optionType,
                    'data':{'aid':aid},
                    'success':function(data){
                        location.reload();
                    },
                    'error':function(t1,t2,t3){
                        alert(message+'失败，如果多次出现该问题请询问技术人员！');
                    }
                });
            } 

    //处理面板的隐藏与显示
    $(".app-panel-body").css('display', 'none');
    $(".app-panel-footer").css('display', 'none');

    $(".app-panel-head").click(function(){
        var appid = $(this).data("appid");

        $("#body-"+appid).toggle();
        $("#footer-"+appid).toggle();

        window.location.hash = appid;
    });

    var hash = window.location.hash;
    hash = hash.substr(1);
    if(hash != ''){
        $("#body-"+hash).toggle();
        $("#footer-"+hash).toggle();
    }

    //处理面板的状态
    $(".app-panel").each(function(){
        changeStatus($(this).data("appid"), $(this).data("status"));
    });
    function changeStatus(appid, status){
        var panel_class;
        var status_info;

        switch(status){
            case 1: //运行中
                panel_class = "panel-success";
                break;

            case 2: //部署中
                panel_class = "panel-warning";
                break;

            case 5: //发布失败
                panel_class = "panel-danger";
                break;

            case -1: //未发布
            case 0: //未部署
            case 3: //已经停止 
            default:
                panel_class = "panel-default";
                break;
        }

        switch(status){
            case -1: status_info = "未发布"; break;
            case 0: status_info = "未部署"; break;
            case 1: status_info = "运行中"; break;
            case 2: status_info = "部署中"; break;
            case 3: status_info = "已经停止"; break;
            case 5: status_info = "发布失败"; break;
        }

        $("#panel-"+appid).removeClass("panel-success").removeClass("panel-warning")
            .removeClass("panel-danger").removeClass("panel-danger").addClass(panel_class);
        $("#status-"+appid).html(status_info);
    }
</script>
{% endblock %}
