{% extends "user_base.html" %}

{% block title %}应用管理{% endblock %}

{% block content %}
{% for obj in g.lists %}
        <div class="panel panel-default app-panel" id="panel-{{ obj.id }}" data-appid="{{ obj.id }}">
            <div class="panel-heading app-panel-head" data-appid="{{ obj.id }}">{{ obj.title }}</div>
            <div class="panel-body app-panel-body" id="body-{{ obj.id }}">
                <p><strong>应用描述：</strong>{{ obj.description }}</p>
                <p><strong>应用语言：</strong>{{ obj.language }}</p>
                <p><strong>应用git：</strong>{{ obj.gitUrl }}</p>
                <p><strong>应用域名：</strong><a href="{{ obj.host }}" target="_blank">{{ obj.host }}</a></p>
                <p><strong>git回调api：</strong>http://{{ g.apiHost }}/api/git/{{ obj.apiKey }}/{{ obj.secretKey }}</p>
                <p>
                    <strong>应用状态：</strong>
                    <span id="status-{{ obj.id }}">
                        {% if obj.status == -1 %}
                            未发布
                        {% elif obj.status == 0  %}
                            未部署
                        {% elif obj.status == 1  %}
                            运行中
                        {% elif obj.status == 2  %}
                            部署中
                        {% elif obj.status == 3  %}
                            已经停止 
                        {% elif obj.status == 5  %}
                            发布失败           
                        {% endif %}
                    </span>
                </p>
                {% if obj.language != "static" %}
                <hr>
                <p><strong>数据库地址：</strong>{{ obj.dbHost }}</p>
                <p><strong>数据库名称：</strong>{{ obj.dbName }}</p>
                <p><strong>数据库用户名：</strong>{{ obj.dbUsername }}</p>
                <p><strong>数据库密码：</strong>{{ obj.dbPassword }}</p>
                <p><strong>数据库端口：</strong>{{ obj.dbPort }}</p>
                {% endif %}
            </div>
            <div class="panel-footer app-panel-footer" id="footer-{{ obj.id }}">
                <a href="javascript:option({{ obj.id }},'develop','发布');" class="btn btn-primary">发布应用</a>
                <a href="javascript:option({{ obj.id }},'start','启动');" class="btn btn-success">启动应用</a>
                <a href="javascript:option({{ obj.id }},'stop','停止');" class="btn btn-danger">停止应用</a>
                <a href="javascript:option({{ obj.id }},'reboot','重启');" class="btn btn-warning">重启应用</a>
            </div>
        </div>
{% endfor %}
{% endblock %}

{% block script %}
<script>
    user_index();
</script>
{% endblock %}
